/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* COMMON */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #2e2f42;
}

.nav-link:hover {
    color: #404bbf;
}


.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts a {
  text-decoration: none;
  color: #434455;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-web { color: #4d5ae5; }
.logo-studio { color: #2e2f42; }

/* HERO */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* FEATURES */
.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.team-content {
  padding: 24px 16px;
  text-align: center;
}

/* PORTFOLIO */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio-content {
  padding: 20px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  width: 100%;
  min-height: 312px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.footer-container {
  padding: 100px 1020px 100px 156px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}
.footer .footer-studio {
  color: #f4f4fd;
}
.footer .logo-web {
  display: inline-block;
  margin-bottom: 17.5px;

}

/* VISUALLY HIDDEN */
.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  border: 0;
}

.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  box-sizing: border-box;
}